#loading-bar .bar {
  background: #fff;
}
#loading-bar .peg {
  -moz-box-shadow: #fff 1px 0 6px 1px;
  -ms-box-shadow: #fff 1px 0 6px 1px;
  -webkit-box-shadow: #fff 1px 0 6px 1px;
  box-shadow: #fff 1px 0 6px 1px;
}
.spinner {
  margin: 100px auto;
  width: 90px;
  height: 90px;
  position: relative;
  text-align: center;
  -webkit-animation: lodding-rotate 2s infinite linear;
  animation: lodding-rotate 2s infinite linear;
}
.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: lodding-bounce 2s infinite ease-in-out;
  animation: lodding-bounce 2s infinite ease-in-out;
}
.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes lodding-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes lodding-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes lodding-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes lodding-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
