.passport {
  background: url('/ecms/styles/imgs/meteorshower2.jpg') no-repeat left top;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.passport .passport-content {
  background: rgba(255, 255, 255, 0.4);
  min-height: 400px;
}
.passport .passport-content .title {
  padding: 10px;
  text-align: center;
}
